@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=EB+Garamond:wght@400;600&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  padding-left: 25px;
  display: flex;
  flex: auto;
  align-items: center;
  background-color: #e8c9c9;
  margin-bottom: 15px;
  justify-content: space-between;
}

.nav__list {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  background-color: #e8c9c9;
  width: 100%;
  padding-top: 55px;
  overflow: hidden;
  list-style: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  font-size: 1em;
}

.nav__item {
  padding: 0 15px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__underline {
  position: relative;
}

@media screen and (max-width: 800px) {
  .nav {
    padding-left: 25px;
    display: flex;
    flex: auto;
    align-items: center;
    background-color: #e8c9c9;
    margin-bottom: 15px;
  }
  .nav__list {
    font-size: .8em;
  }
  .nav__item {
    padding: 0 10px;
  }
  .nav__link {
    text-decoration: none;
    color: black;
  }
}

header {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: #746565;
}

main {
  font-family: 'Dancing Script';
  font-size: 20px;
  color: #d1b5b5;
}

.article_text-container {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_title-container {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  color: #5d5050;
}

.article_information-title {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  color: #5d5050;
}

.article_email-information--paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_text-email {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_text-email {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_phone-information--paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_phone-resp {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_address-information--paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_text-address {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_info-ano-container {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_info-ins-paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_info-gra-bach {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_paragraph-ano-text {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_paragraph-ins-paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_paragraph-gra-text {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_ult-ano-paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_ult-paragraph-info {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_info-ult-paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_info-container-paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_information-title {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  color: #5d5050;
}

.article_information-title {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  color: #5d5050;
}

.article_info-ano-container {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_info-ins-place {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_info-gra-paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_paragraph-ano-text {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_paragraph-ins-paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_paragraph-gra-text {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}

.article_title {
  margin-top: 80px;
  margin-left: 150px;
  margin-bottom: 80px;
}

.article_information {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}

.article_information-title {
  margin-left: 550px;
  margin-right: 10px;
}

.article_information-image {
  height: 45px;
  width: 45px;
}

.article_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  margin-left: 120px;
}

.article_info-ano {
  margin-left: 250px;
}

.article_info-ins {
  margin-left: 150px;
}

.article_info-gra {
  margin-left: 170px;
}

.article_paragraph {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-left: 120px;
}

.article_paragraph-ano {
  margin-left: 250px;
}

.article_paragraph-ins {
  margin-left: 150px;
}

.article_paragraph-gra {
  margin-left: 110px;
}

@media screen and (max-width: 800px) {
  .article_title {
    margin-top: 90px;
    margin-left: 45px;
    margin-bottom: 40px;
  }
  .article_information {
    flex-direction: row;
    margin-bottom: 50px;
  }
  .article_information-title {
    margin-left: 30px;
    margin-right: 10px;
  }
  .article_info {
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .article_info-ano {
    margin-left: 10px;
  }
  .article_info-ins {
    margin-left: 80px;
  }
  .article_info-gra {
    margin-left: 80px;
  }
  .article_paragraph {
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .article_paragraph-ano {
    margin-left: 10px;
  }
  .article_paragraph-ins {
    margin-left: 80px;
  }
  .article_paragraph-gra {
    margin-left: 80px;
  }
}
