@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=EB+Garamond:wght@400;600&display=swap');
@import 'abstract/variables';
@import 'base/reset';
@import 'layout/navigation';
@import 'base/typograhpy';

  .article {

    &_title {
      margin-top: 80px;
      margin-left: 150px;
      margin-bottom: 80px;
    }

   &_information {
     display: flex;
     flex-direction: row;
     margin-bottom: 70px;

     &-title {
       margin-left: 550px;
       margin-right: 10px;
     }

     &-image {
       height: 45px;
       width: 45px;
     }
   }
   &_email {
     margin-left: 460px;
     flex-direction: row;
     display: flex;
     margin-bottom: 20px;

     &-container {
       margin-right: 10px;
       &-img {
         height: 45px;
         width: 45px;
       }
     }

     &-information {
       margin-top: 10px;
       margin-right: 20px;
     }

     &-resp {
       margin-top: 10px;
     }
   }

   &_phone {
     margin-left: 460px;
     flex-direction: row;
     display: flex;
     margin-bottom: 20px;

     &-container {
       margin-right: 10px;
       &-img {
         height: 45px;
         width: 45px;
       }
     }

     &-information {
       margin-top: 10px;
       margin-right: 100px;
     }

     &-resp {
       margin-top: 10px;
     }
   }

   &_address {
     margin-left: 460px;
     flex-direction: row;
     display: flex;
     margin-bottom: 20px;

     &-container {
       margin-right: 10px;
       &-img {
         height: 45px;
         width: 45px;
       }
     }

     &-information {
       margin-top: 10px;
       margin-right: 95px;
     }

     &-resp {
       margin-top: 10px;
     }
   }
  }

@media screen and (max-width: 800px) {
  .article {

    &_title {
      margin-top: 90px;
      margin-left: 45px;
      margin-bottom: 40px;
    }

   &_information {
     margin-bottom: 50px;

     &-title {
       margin-left: 20px;
       margin-right: 5px;
     }
   }
   &_email {
     margin-left: 30px;
     flex-direction: column;
     margin-bottom: 50px;

     &-container {
       margin-right: 5px;
     }
   }

   &_phone {
     margin-left: 30px;
     flex-direction: column;
     margin-bottom: 50px;


     &-container {
       margin-right: 5px;
     }
   }

   &_address {
     margin-left: 30px;
     flex-direction: column;
     margin-bottom: 50px;

     &-container {
       margin-right: 5px;
     }
   }
  }
}
