

.nav  {
    &--header {
        padding-left: 25px;
        display: flex;
        flex: auto;
        align-items: center;
        background-color: $nav-font-color;
     }

    &--list {
      position: static;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: auto;
      background-color: $nav-font-color;
      width: auto;
      padding: 0;
      overflow: hidden;
      list-style: none;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      font-size: 1em;
      margin-right: 65px;
      margin: 15px;
    }

    &--items {
      padding: 0 15px;
    }

    &--itm {
      padding: 15px;
      text-decoration: none;
      color: $primary-color;
    }

    &--active {
      background-color: #E6B0AA;
    }
  }
