 .article{

      &_title {
        margin-top: 80px;
        margin-left: 150px;
      }

      &_container {
        display: flex;
        flex-direction: column;
      }

      &_image {
        width: 450px;
        height: 400px;
      }

      &_image-container {
        margin-top: 40px;
        margin-left: 450px;
        margin-bottom: 30px;
      }

      &_title-container {
        margin-left: 450px;
        margin-top: 30px;
      }

      &_text-container {
        margin-top: 40px;
        margin-left: 480px;
        margin-bottom: 40px;
      }

      &_text {
        width: 450px;
        text-align: justify;
      }
    }

    @media screen and (max-width: 800px) {
      .article{

           &_title {
             margin-top: 75px;
             margin-left: 45px;
           }

           &_image {
             width: 250px;
             height: 200px;
           }

           &_image-container {
             margin-top: 40px;
             margin-left: 60px;
             margin-bottom: 20px;
           }

           &_title-container {
             margin-left: 30px;
             margin-top: 20px;
             align-items: center;
           }

           &_text-container {
             margin-left: 40px;
             margin-bottom: 40px;
           }

           &_text {
             width: 280px;
           }
         }
    }
