 .article{

      &--title {
        margin-top: 60px;
        margin-left: 150px;
      }

      &--container {
        display: flex;
        flex-direction: column;
      }

      &--image {
        width: 450px;
        height: 400px;
      }

      &--image-container {
        margin-top: 40px;
        margin-left: 450px;
      }

      &--title--container {
        margin-left: 450px;
        margin-top: 30px;
      }

      &--text-container {
        margin-top: 40px;
        margin-left: 480px;
        margin-bottom: 40px;
      }

      &--text {
        width: 450px;
        text-align: justify;
      }
    }
