header {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: $nav-items-color;
}

main {
    font-family: 'Dancing Script';
    font-size: 20px;
    color: #d1b5b5;
}

.article_text-container {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color: $primary-color;
}

.article_title--container {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    color: #5d5050;
}
